* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.page {
background-image: linear-gradient(to bottom, #ffffff, #ffffff, #f9f2ec
, #996633, #4d3319);
font-family: 'Raleway', sans-serif;
color: #60b0f4;
display: flex;
flex-direction: column;
height: 525px;
border-bottom: solid #4d3319;
border-radius: 6px;
}

.top_butt {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 140%;
  margin-bottom: 20px;
  font-size: 13px
}

.butt {
  display: flex;
  justify-content: center;
  width: 120px;
  padding: 10px;
  border: solid 1px;
  border-radius: 6px;
  color: #e6f0ff;
  background-color: #60b0f4;
}

.fq {
  position: absolute;
  top:5px;
  left: 5px;
}

.call {
  position: absolute;
  top:5px;
  right:5px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slogan {
  color: #994d00;
  font-size: 15px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-left: 60px;
}

.quote-wrap {
  display: flex;
  justify-content: center;
}

.quote {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #994d00;
  background-color: white;
  font-size: 30px;
  width:200px;
  padding: 5px;
  border-bottom: solid #994d00 1px;
}

.menu-container {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-decoration: none;
  margin-top: 10px;
  color: #0099ff;
}

ul {
  list-style-type: none;
  margin-top: -20px;
}

.menu li {
  border-bottom: solid 1px #0099ff;
  width: 150px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}



.pic-1 {
  border-radius: 6px;
  margin-top: 5px;
  margin-left: 5px;
}

.pic-2{
  border-radius: 6px;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}

.pic-3 {
  border-radius: 6px;
  margin-top: 5px;
  margin-left: 5px;
  float: left;
}

.pic-4 {
  border-radius: 6px;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}

.hw {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: square;
  font-size: 23px;
  position: absolute;
  right: 1%;
  top: 97%;
  color: #0099ff;
}

.rm {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: square;
  font-size: 23px;
  position: absolute;
  left: 8%;
  top: 128%;
  color: #0099ff;
}

.rc {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: square;
  font-size: 23px;
  position: absolute;
  right: 5%;
  top: 157%;
  color: #0099ff;
}

.dc {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: square;
  font-size: 23px;
  position: absolute;
  left: 8%;
  top: 184%;
  color: #0099ff;
}

.gb {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: square;
  font-size: 20px;
  position: absolute;
  right: 1%;
  top: 211%;
  color: #0099ff;
}

.cc {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: square;
  font-size: 20px;
  position: absolute;
  left: 6%;
  top: 242%;
  color: #0099ff;
}
